@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Restaurant.Web.Models.Entities.NewCustomerViewModel
<h1>Add Customer</h1>
<div class="form-wrapper">
<form method="post" class="my-3 d-flex flex-column gap-2 justify-content-center rounded">
    <div class="row">
            <div class="col-6 d-flex flex-column gap-2 justify-content-center">


                <div>
                    <label class="form-label">Name:</label>
                    <input type="text" class="form-control" asp-for="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div>
                    <label class="form-label">Surname:</label>
                    <input type="text" class="form-control" asp-for="Surname" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
            </div>
            <div class="col-6 d-flex flex-column gap-2 justify-content-center">

                <div>
                    <label class="form-label">E-mail:</label>
                    <input type="text" class="form-control" asp-for="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div>
                    <label class="form-label">Phone:</label>
                    <input type="text" class="form-control" asp-for="Phone" />
                </div>


            </div>


    </div>

    <button class="mt-2 btn btn-primary" type="submit">Add</button>

</form>
</div>
