@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Restaurant.Web.Models.Entities.NewOrderViewModel
<h1>Add Order</h1>

<div class="form-wrapper">



    <form method="post" class="my-3 d-flex flex-column gap-2 justify-content-center">

        <div>
            <label asp-for="CustomerId" class="form-label">Customer Name</label>
            <select asp-for="CustomerId" class="form-control" asp-items='@(ViewData["Customers"] as SelectList)'></select>
        </div>

        <div>
            <label class="form-label">Cart:</label>
            <!--<input type="text" class="form-control" asp-for="Products" />-->

            <textarea class="form-control" asp-for="Products"></textarea>
        </div>

        <div class="d-flex flex-column">
            <label class="form-label">Total:</label>
            <input class="form-control flex-grow-1"  type="number" step="0.01" asp-for="TotalPrice" />
        </div>

        <div>
            <label class="form-label"  for="datetime">Date:</label>
            <input type="datetime-local" class="form-control" id="OrderDate" name="OrderDate" asp-for="OrderDate" />
        </div>
        <div>
            <label for="status" class="form-label">Status:</label>

            <select name="status" id="status" class="form-control" asp-for="Status">
                <option value="Σε Εκκρεμότητα">Σε Εκκρεμότητα</option>
                <option value="Ολοκληρωμένη">Ολοκληρωμένη</option>
                <option value="Ακυρωμένη">Ακυρωμένη</option>

            </select>
        </div>

        <button class="btn btn-primary" type="submit">Add Order</button>

    </form>




</div>

