@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

   <!-- <h2>Customers</h2>
    <div class="d-flex gap-2">

        <button class="btn btn-primary d-inline-block"><a href="https://localhost:7252/Customers/New">Add New Customer</a></button>
        <button class="btn btn-primary d-inline-block">Delete Customer</button>
        <button class="btn btn-primary d-inline-block text-white">See All Customers</button>
    </div>-->
    
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
