@{
    ViewData["Title"] = "Home Page";
}
<div class="main-wrapper d-flex flex-column justify-content-center">

    <div class="text-center">
        <h1 class="display-4">Restaurant Management</h1>
        <!-- <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
    </div>
    <div class="w-75 my-5 mx-auto d-flex justify-content-center rounded">
        <div class="img-wrapper rounded w-100">
            <img src="~/images/restaurant.jpeg" alt="">
        </div>
    </div>

</div>

